h1{
  text-align: center;
  color: red;
  font-family: 'Festive', cursive;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: #495371;
  text-align: center;
  padding: 0 1%;
  font-weight: bold;
}
.body{
  margin: 2% 6%;
  position: relative;
}

.gallery {
  margin: 30px 6px;
  float: left;
  width: 250px;
  height: 350px;
  position: relative;
  display: inline-block;
}

.gallery img:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

/* div.desc {
  padding: 15px;
  text-align: center;
  position: relative;
} */
