body{
  background-color: #B33030;
}
.tot{
  border: 3px;

}
h1{
  position: absolute;
  text-align: center;
  font-size: 3.5rem;
  padding: 0 10% 0 15%;
  float: left;
}
p{
  padding: 7% 20% 0 30%;
  text-align: center;
}

.top-home{
  background-color: #FFF;
  color: #B33030;
  padding: 3% 5% 3%;
  height: 200px;
}
.logo-img{
  width:11%;
  float:left;

}
.gif-img{
  width:11%;
  float: right;
}
.body-home{
  position: relative;
  width: 100%;
  height: 420px;
  background-image: url("15.JPG");
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  opacity: 0.4;
}
.body-home:hover{
  opacity: 1.0;
}
.button {
  background: #e687d3;
  background-image: -webkit-linear-gradient(top, #e687d3, #c95f7d);
  background-image: -moz-linear-gradient(top, #e687d3, #c95f7d);
  background-image: -ms-linear-gradient(top, #e687d3, #c95f7d);
  background-image: -o-linear-gradient(top, #e687d3, #c95f7d);
  background-image: linear-gradient(to bottom, #e687d3, #c95f7d);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  text-shadow: 1px 1px 3px #c76dc7;
  font-family: Arial;
  color: #e4eff2;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 8% 40% 10% 35%;
}

.button:hover {
  background: #fc493c;
  background-image: -webkit-linear-gradient(top, #fc493c, #70221c);
  background-image: -moz-linear-gradient(top, #fc493c, #70221c);
  background-image: -ms-linear-gradient(top, #fc493c, #70221c);
  background-image: -o-linear-gradient(top, #fc493c, #70221c);
  background-image: linear-gradient(to bottom, #fc493c, #70221c);
  text-decoration: none;
}
.footer{
  background-color: #FFF;
  color: #B33030;
  padding: 5px 0;
  margin:0;
}
